# Abaikan folder git
.git
.gitignore

# Abaikan file cache Python
__pycache__
*.pyc
*.pyo
*.pyd

# Abaikan environment lokal
venv/
env/
.env

# Abaikan file temp project IDX/VSCode
.idx/
.vscode/

# Abaikan file temp OS
.DS_Store
